.mapWindow {
	position:relative;
	width: 400px;
    height: 300px;
    bottom: 350px;
    right: 200px;

}

.divWrapper {
	width: 100%;
	display: flex;
	justify-content: space-between; ; 
}

.marker{
	position: relative;
	height: 50px;
	width: 50px;
	left: 175px;
	bottom: -20px;
}
.modal-wrapper {
    background: white;
    border: 1px solid #d0cccc;
    height: 100%;
    width: 100%;
 
    
}

.modal-header {
    background: #263238;
    height: 15%;
}

.modal-header h3 {
    color: white;
    float: left;
}

.modal-body {
	background: white;
    text-align: center;
    height: 70%;
}

.modal-footer {
    background: #263238;
    height: 15%;
    width: 100%;
}

.close-modal-btn {
    color: white;
    cursor: pointer;
    float: right;
    font-size: 30px;
}

.close-modal-btn:hover {
    color: black;
}

.btn-cancel, .btn-continue {
    background: coral;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    padding: 1%;
}

.btn-cancel {
    background-color: #b71c1c;
    float: left;
}

.btn-continue {
    background-color: #1b5e20;
    float: right;
}